### Reading Shapefiles to See the Route Delays
#### Achilles Edwin Alfred Saxby

In [3]:
import pandas as pd
import geopandas as gpd
import shapefile #the pyshp module

In [6]:
#read file, parse out the records and shapes
shapefile_path_1 = "nyu_2451_34690/routes_bx_bus_may2016.shp"

sf1 = shapefile.Reader(shapefile_path_1)

#grab the shapefile's field names (omit the first psuedo field)
fields = [x[0] for x in sf1.fields][1:]
records = sf1.records()
shps = [s.points for s in sf1.shapes()]

#write the records into a dataframe
bronx_dataframe = pd.DataFrame(columns=fields, data=records)

#add the coordinate data to a column called "coords"
bronx_dataframe = bronx_dataframe.assign(coords=shps)

In [7]:
bronx_dataframe.head()

,route_id,direction_,route_dir,coords
0,BX10,0,BX10_0,"[(1017401.3337, 258058.205336), (1017318.93386..."
1,BX10,1,BX10_1,"[(1009416.64967, 260317.700816), (1009579.9493..."
2,BX11,0,BX11_0,"[(1001468.46557, 248623.724183), (1001210.9660..."
3,BX11,1,BX11_1,"[(1014290.33993, 239896.841659), (1014314.9398..."
4,BX12+,0,BX12+_0,"[(1032047.4044, 249815.021812), (1032067.90436..."

In [25]:
bronx_dataframe = bronx_dataframe[bronx_dataframe['route_id'].isin(['BX1', 'BX6', 'BX13'])]
bronx_dataframe.head()

,route_id,direction_,route_dir,coords
8,BX13,0,BX13_0,"[(1005359.65778, 246635.028166), (1005333.9578..."
9,BX13,1,BX13_1,"[(1003734.66103, 238272.044908), (1003967.9605..."
20,BX1,0,BX1_0,"[(1004114.96026, 234267.352893), (1004143.9602..."
21,BX1,1,BX1_1,"[(1009306.14988, 260344.400756), (1009308.9498..."
76,BX6,0,BX6_0,"[(1014445.63962, 238179.945087), (1014467.9395..."

In [27]:
bronx_dataframe.reset_index(inplace=True, drop=True)

In [28]:
bronx_dataframe.head()

,route_id,direction_,route_dir,coords
0,BX13,0,BX13_0,"[(1005359.65778, 246635.028166), (1005333.9578..."
1,BX13,1,BX13_1,"[(1003734.66103, 238272.044908), (1003967.9605..."
2,BX1,0,BX1_0,"[(1004114.96026, 234267.352893), (1004143.9602..."
3,BX1,1,BX1_1,"[(1009306.14988, 260344.400756), (1009308.9498..."
4,BX6,0,BX6_0,"[(1014445.63962, 238179.945087), (1014467.9395..."

In [10]:
shapefile_path_2 = "nyu_2451_34694/routes_qn_bus_may2016.shp"

sf2 = shapefile.Reader(shapefile_path_2)

#grab the shapefile's field names (omit the first psuedo field)
fields = [x[0] for x in sf2.fields][1:]
records = sf2.records()
shps = [s.points for s in sf2.shapes()]

#write the records into a dataframe
queens_dataframe = pd.DataFrame(columns=fields, data=records)

#add the coordinate data to a column called "coords"
queens_dataframe = queens_dataframe.assign(coords=shps)

In [11]:
queens_dataframe.head()

,route_id,direction_,route_dir,coords
0,Q12,0,Q12_0,"[(1030857.50679, 215849.589739), (1031306.9058..."
1,Q12,1,Q12_1,"[(1057750.353, 220528.480395), (1057696.85311,..."
2,Q13,0,Q13_0,"[(1032159.90419, 216592.188242), (1032211.9040..."
3,Q13,1,Q13_1,"[(1044888.57874, 227678.966089), (1044788.8789..."
4,Q15A,0,Q15A_0,"[(1030857.50679, 215849.589739), (1031306.9058..."

In [26]:
queens_dataframe = queens_dataframe[queens_dataframe['route_id'].isin(['Q48'])]
queens_dataframe.head()

,route_id,direction_,route_dir,coords
44,Q48,0,Q48_0,"[(1015815.13688, 220795.67986), (1015826.93685..."
45,Q48,1,Q48_1,"[(1031271.50596, 216038.489343), (1030813.9068..."

In [29]:
queens_dataframe.reset_index(inplace=True, drop=True)
queens_dataframe

,route_id,direction_,route_dir,coords
0,Q48,0,Q48_0,"[(1015815.13688, 220795.67986), (1015826.93685..."
1,Q48,1,Q48_1,"[(1031271.50596, 216038.489343), (1030813.9068..."

In [30]:
bronx_dataframe.to_csv("Bronx.csv")
queens_dataframe.to_csv("Queens.csv")